h1,h2,h3,h4,h5,h6{font-weight:normal;}
.u-sm-6{
    margin-bottom: 8px;
}
.u-console-title h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #88B7E0;
    margin-right: 8px;
}
.u-region-box{
    border: 1px solid #ccd6e0;
}
.u-title-bar {
    height: 38px;
    background: #F8F9FB;
    border-bottom: 1px solid #ccd6e0;
}
.u-title-bar .u-title {
    padding: 12px 8px;
}
.u-region-box .u-content {
    padding: 28px 24px;
}